/********************          ********************/
body{font-family:arial}

/*************CSS HEADER Y MENU NAV******************/
.imagen_header{ text-align: center;
                margin: 2%;}

.menu_nav{text-align: center;
          padding: 1%;
          transition: all 300ms;
          margin-bottom: 1%;
          border-bottom-style: solid;
          border-top-style: solid;
          border-top-width: 0.05mm;
          border-bottom-width: 0.05mm;
          border-color: #6C5E46}

.menu_opc:hover{color: #7ABA96;}

.footer{text-align: center;
          padding: 2%;
          background: #302F2F;
          -webkit-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
          -moz-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
          box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);}

.menu_opc{text-decoration: none;
          color: black;
          font-weight:bold;
          font-size: 100%;
          padding: 0%;
          margin: 2%;
          border-radius: 7px;}

.active, .menu_opc:hover { color:#7ABA96}

.footer_text{text-decoration: none;
          color: white;
          padding: 0%;
          margin: 2%;
          font-size:12px;
          border-radius: 7px;}
/*****************CSS INDEX****************************/
.sobre_mi{width: 25%;
        text-align: center;
        height: 80%;
        margin-bottom: 2px}

.inicio_{display: flex;
         width: 70%;
         padding: 5px;
         margin-left: auto;
         margin-right: auto;}


/****************CSS SOBRE MI************************************/
.sobre_mi_text{text-align: justify;
               padding: 15px;
               color: #8B8B8B;}

.libro{background-color: #eae8e8;
        margin: 5px;
        padding: 3px;
        border-radius: 2px}

.apuntame{border: none;
          background-color: #7ABA96;
          width: 100%;
          padding: 2px;}

/*************************CSS EJEMPLOS*****************************/
.seccion_ejemplos{width: 75%;}
.contenedor_ejemplos{display: flex;
                      margin: 4px}
.ejemplo{width: 50%;
         text-align:center;}

.imagen_ejemplo{width: 80%;
                margin-left: 2%;
                margin-top: 5%;
                margin-bottom: 1%;}

.titulo_ejemplo{text-decoration: none;
                color: black}

.titulo_ejemplo:hover{color: #7aa17a;
                      font-weight: bold}

.fecha{ font-size: 12px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        border-bottom-style: solid;
        border-top-style: solid;
        border-top-width: 0.05mm;
        border-bottom-width: 0.05mm;
        border-color: #6C5E46;}

.descripcion_receta_inicio { text-align: justify;
                            width: 80%;
                            margin-left: 10%;
                            margin-right:10%;
                            margin-top: 5%;
                            margin-bottom: 1%;}

/*********************************CSS RECETAS*************************************/

.contenedor_recetas{width: 70%;
                    margin-left: auto;
                    margin-right: auto}

.tipo_receta{-webkit-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                -moz-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                margin-bottom: 2px}

.icon-recetas{width: 10%;
              float: left;
              padding-top:3%}

.intro_receta{padding: 2%;}

.contenedor_flex_recetas{margin-top: 0.2%;
                  display: flex;}

.preview_receta{background-color: white;
                height: 100%;
                padding: 0;
                margin: 1%;
                border-radius: 1%;
                -webkit-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                -moz-box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                box-shadow: 4px -4px 19px -8px rgba(0,0,0,0.27);
                transition: all 300ms}

.preview_features{width:35%;
                  padding-left: 5%;
                  padding-top: 5%;
                  color: slategray}

.preview_receta:hover{background-color: darkseagreen;
                      transform: scale(1.01)}

.link_preview{width: 50%;
              text-decoration: none;
              margin: 0.5%}

.preview_imagenes{width: 50%;
                float: right;
                padding-top: 2%;
                margin-right: 2%;
                margin-bottom: 2%}

/***************  En construccion  *************************/
.construccion_page{padding:10%;
                    text-align:center}
.construccion_text{ font-size:150%}